<div mat-dialog-title>
  <h1>pet Form</h1>
</div>
<form [formGroup]="petForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          placeholder="Ex. caramelo"
          formControlName="name"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let val of type" [value]="val"
            >{{ val }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>location</mat-label>
        <input matInput placeholder="Ex. Babaji" formControlName="location" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input
          matInput
          placeholder="Ex. 4"
          type="number"
          formControlName="age"
        />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit">
      {{ data ? "Update" : "Save" }}
    </button>
  </div>
</form>
